---
---

@import "{{ site.theme }}";

/* All the images are screen shots. Make them pop using drop shadows.  */
img {
display: block;
width: 66%;
border: 1px solid lightgray;
padding: 10px;
box-shadow: 1px 1px 1px 1px #888888;
}
